*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ebcbc0;
}

.header{
    background-color:#3a251c;
    color: white;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

.menu{
    background-color: #b46424;
    text-align: center;
    color: blanchedalmond;
    border-radius: 5px;
}

#contenedor {
    width: 900px;
    height: 1000px;
    background-color: #ffe3d3;
    margin: 10px;
    padding: 20px;


}



.section{
    color: white;
    background-color: #362f2f ;
    align-self: left;
    text-align: justify;
    
}


.footer{
    background-color: #3a251c;
    width: 900px;
    height: 100px;
    border-radius: 2px;
    font-size: 25px;
    color: #bb8e69;
}


.flex
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #ebcbc0;
    width: 900px;
    border-radius: 2px;
    
}

.item {
    background-color: rgb(180, 128, 93);
    flex-wrap: wrap;
    text-align: justify;
    justify-content: center;
    flex-direction: row;
    width: 568px;
    height: 540px;
    font-size: 15px;
    
}

.item2 {
    background-color: rgb(180, 128, 93);
    flex-wrap: wrap;
    
    justify-content: center;
    flex-direction: row;
    width: 325px;
    height: 540px;
    font-size: 15px;
}

.img{
    display: inline;
    justify-content: center;
    justify-content: space-around;
    width: 180px;
    height: 104px;
}


ul{
    text-align: center;
    padding: 10px;

}

li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}



li a:hover {
    color: rgb(87, 48, 26);
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    color: rgb(202, 133, 87);

}